.workPage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	margin-bottom: 3em;
}

.workDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}

.workDetails p,
.workDetails ul,
.workDetails ol,
.workDetails ul li:last-of-type {
	margin-bottom: 0;
}

.workTitle {
	font-size: 2.25em;
	font-weight: 700;
	margin: 0;
}

.workYear {
	font-size: 1.25em;
	font-weight: 400;
	margin: 0;
}

.seriesTitle {
	font-size: 1.75em;
	margin-top: 0.5em;
}

.relatedWorks {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.relatedWorks h3 {
	font-size: 1.75em;
	font-weight: 700;
	margin: 0;
}

@media (max-width: 800px) {
	.workPage {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.workTitle {
		font-size: 2em;
	}
}
