.latestBlogPost h3 {
	font-size: 2em;
	margin: 0;
}

.latestBlogPost h3 > a {
	font-weight: 700;
	color: var(--black);
	text-decoration: none;
	background-color: var(--primary-yellow);
}

.latestBlogPost h3 > a:hover {
	background-color: var(--primary-yellow-lighter);
}

.latestBlogPost p {
	margin: 0;
}

@media (max-width: 800px) {
	.latestBlogPost {
		grid-column: 1/-1;
		grid-row: 2;
		border-top: 0.25em solid var(--black);
		padding-top: 2em;
	}
}

@media (max-width: 600px) {
	.latestBlogPost {
		order: 4;
	}

	.latestBlogPost h3 {
		font-size: 1.5em;
	}
}
