.footer {
	max-width: var(--page-max-width);
	margin-left: auto;
	margin-right: auto;
}

.emailFeature {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em 0;
	border-bottom: 0.25em solid var(--black);
}

.emailFeature a {
	font-size: 2em;
	text-decoration: none;
}

.emailFeature a:hover {
	text-decoration: underline;
}

@media (max-width: 970px) {
	.emailFeature {
		margin: 0 1em;
	}
}

@media (max-width: 600px) {
	.emailFeature a {
		font-size: 1.25em;
	}
}
